*{
    box-sizing: border-box;
}

/* Cascading Style Sheet */
/* 선택자(selector) */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center{
    margin: 0 auto;
    width: 1080px;
}

#header-search a{
    text-decoration: none;
}

#header-search h1{
    display: inline-block;
    width: 222px;
    height: 52px;
    background-image: url(./sp_main_4f8ccb.png);
    background-size: 457px 434px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#header-search h2{
    display: none;
}

#header-search fieldset{
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input{
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 444px;
    height: 24px;
}

#header-search fieldset button{
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    background: #19ce60;
    background-size: 457px 434px;
    position: absolute;
    right: -2px;
    top: -4px;
}

#search-image{
    background-image: url(./sp_main_4f8ccb.png);
    background-position: -420px 0;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
}
